# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.FMP.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\College\FMP\.idea\.idea.FMP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
